
<div class="wrapper">
    <div class="sidebar">
        <h2>لوحة التحكم</h2>
        <ul>
            <li><a class="dash-home"><i class="fas fa-home"></i> الرئيسية</a></li>
            <li><a href="#" class="dash-account"><i class="fas fa-user-shield"></i> الحساب</a></li>
            <li><a href="#" class="dash-cridt"><i class="fas fa-credit-card"></i> البطاقات</a></li>
            <li><a href="#" class="dash-product"><i class="fab fa-product-hunt"></i> المنتجات</a></li>
            <li><a href="#" class="dash-orders"><i class="fas fa-project-diagram"></i> الطلبات</a></li>
            <li><a href="#" class="dash-ads"><i class="fas fa-ad"></i> الاعلانات</a></li>
        </ul> 
    </div>
    <div class="main_content">
        <h1>اهلا و سهلا</h1>
    </div>
</div>
