* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

        /* Login */
    
        .login{position: relative; height: 100vh}

        .login-form{
            width: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: bold;
        }
        .login-form button{ background-color: orange; border-color: orange; color: #434343; font-weight: bold;}

        /* dashbaord*/
        .wrapper{
            display: flex;
            position: relative;
            background-color: #eee;
            height: 100vh;
        }

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: #fff;
  box-shadow: 1px 1px 10px 1px #aaa;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2{
  color: #212121;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: #121212;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: orange;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}

.wrapper .main_content{
    background-color: #eee;
  width: 100%;
  padding-right: 200px;
  text-align: center;
}

.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div{
  margin-bottom: 20px;
}

@media (max-height: 500px){
  .social_media{
    display: none !important;
  }
}